<style>
#editContent{

width: 45%;
margin: 0 auto; 
font-family: 微軟正黑體;
box-shadow: 0px 0px 16px 8px rgba(51, 51, 102, 0.5);
border-radius: 10px;
border-style:solid;
border-width:20px;
border-color:white;
background-color: white;
color:#696969;
}
</style>

<div id="editContent">
	<div><p style="color:#8B3E2F;">團隊介紹：</p><%=simple_format @presub.Pintro%></div>
	<div><p style="color:#8B3E2F;">專案摘要：</p><%=simple_format @presub.Psummary%></div>
	<div><p style="color:#8B3E2F;">回餽方案：</p><%=simple_format @presub.Pfeedback%></div>
	<div><p style="color:#8B3E2F;">使用者名稱：</p><%=@presub.user.name%></div>
	<div><p style="color:#8B3E2F;">使用者信箱：</p><%=@presub.user.email%></div>
</div>

  <%= form_tag manager_path(@presub.id),:method=>:put  do %>
	<div align="center" style="margin-top: 20px; font-family: 微軟正黑體;">
        <%= label :confirm, :confirm, '合格？'%>
        <%= select :confirm, :confirm,[nil,true,false]%>

        <%= submit_tag '確定'%>
	</div>
  <% end%>
