<div id="Mshowname">
  <%= @confirm.Pname%>
  <%= @confirm.user.email%>
</div>
<div id="Mshowcontext">
  <div id="Mshowmedia">
    <%= @confirm.Pvideo.html_safe%>
  </div>

  <div id="Mshowteam">
    <%= @confirm.Pintro%>
  </div>

  <div id="Mshowsummary">
    <%= simple_format @confirm.Psummary%>
  </div>
</div>

<center>
<div id="projectOn">
<%= link_to "on", "/manager/updatepro/"+@confirm.id.to_s, :method=>:put%>
</div>
</center>
