<div id="Mshowname">
  <%= @confirm.name%>
</div>
<div id="Mshowemail">
  <%= @confirm.user.email%>
</div>
<div id="Mshowcontext">
  <div id="Mshowmedia">
    <%= @confirm.video.html_safe%>
  </div>

  <div id="Mshowteam">
    <%= @confirm.intro%>
  </div>

  <div id="Mshowsummary">
    <%= simple_format @confirm.summary%>
  </div>
</div>

<center>
  <a href="/manager/updatepro/<%= @confirm.id.to_s%>" data-method="put" rel="nofollow"><div id="projectOn">on</div></a>
</center>

