<div id="index">
<div id="index_notyet" align="center">
~ 未審核專案 ~
<div>
    <table>
        <thead>
		<th>專案名稱</th>
		<th>專案分類</th>
		<th>募集目標</th>
        </thead>
         <tbody>
		<% @allpresub.each do |presub| -%>
                        <tr>
                                <td><%=presub.Pname%></td>
				<td><%=presub.Pclassify%></td>
				<td><%=presub.Pgoal%></td>
				<td><%=link_to "審核", edit_manager_path(presub)%></td>
                        </tr>
                <% end-%>
        </tbody>
    </table>
</div>
</div>

<div id="index_request" align="center">
~ 請求上架 ~
<div>
    <table>
        <thead>
                <th>專案名稱</th>
                <th>專案分類</th>
                <th>募集目標</th>
        </thead>
         <tbody>
                <% @allreadytoon.each do |on| -%>
                        <tr>
                                <td><%=on.Pname%></td>
                                <td><%=on.Pclassify%></td>
                                <td><%=on.Pgoal%></td>
                                <td><%=link_to "on", "/manager/editpro/"+on.id.to_s %></td>
                        </tr>
                <% end-%>
        </tbody>
    </table>
</div>
</div>

<div id="index_already" align="center">
~ 已上架專案 ~
<div>
    <table>
        <thead>
                <th>專案名稱</th>
                <th>專案分類</th>
                <th>募集目標</th>
        </thead>
         <tbody>
                <% @allpro.each do |pro| -%>
                        <tr>
                                <td><%=pro.Pname%></td>
                                <td><%=pro.Pclassify%></td>
                                <td><%=pro.Pgoal%></td>
                        </tr>
                <% end-%>
        </tbody>
    </table>
</div>
</div>
</div>
