<div id="index">
<div id="index_notyet" align="center">
~ 未審核專案 ~
<div style="width: 100%;">
    <table style="text-align: center;">
        <thead>
		<th>專案名稱</th>
		<th>專案分類</th>
		<th>募集目標</th>
		
        </thead>
         <tbody>
		<% @allpresub.each do |presub| -%>
                        <tr>
                                <td><%=presub.name%></td>
				<td><%=presub.classify%></td>
				<td><%=presub.goal%></td>
				<td><%=link_to "審核", edit_manager_path(presub)%></td>
                        </tr>
                <% end-%>
        </tbody>
    </table>
</div>
</div>

<div id="index_request" align="center">
~ 請求上架 ~
<div>
    <table style="text-align: center;">
        <thead>
                <th>專案名稱</th>
                <th>專案分類</th>
                <th>募集目標</th>

        </thead>
         <tbody>
                <% @allreadytoon.each do |on| -%>
                        <tr>
                                <td><%=on.name%></td>
                                <td><%=on.classify%></td>
                                <td><%=on.goal%></td>
                                <td><%=link_to "on", "/manager/editpro/"+on.id.to_s %></td>
                        </tr>
                <% end-%>
        </tbody>
    </table>
</div>
</div>

<div id="index_already" align="center">
~ 已上架專案 ~
<div>
    <table style="text-align: center;">
        <thead>
                <th>專案名稱</th>
                
        </thead>
         <tbody>
                <% @allpro.each do |pro| -%>
                        <tr>
                                <td><%=pro.name%></td>
                                <td><%=link_to "delete",'/manager/deletepro/'+pro.id.to_s,:method=>:put%></td>
                        </tr>
                <% end-%>
        </tbody>
    </table>
</div>
</div>
</div>


<%=form_tag '/manager/saveaskforhelp' do%>
  <%=label :ask, :title, "title"%>
  <%=text_field :ask, :title%>

  <%=label :ask, :url, "url"%>
  <%=text_field :ask, :url%>

  <%= submit_tag '確定送出'%>
<%end%>
