manager index</br>

<%= @allpresub%>

<div>
    <table>
        <thead>
		<th>專案名稱</th>
		<th>專案分類</th>
		<th>募集目標</th>
		<th>使用者名稱</th>
        </thead>
         <tbody>
		<% @allpresub.each do |presub| -%>
                        <tr>
                                <td><%=presub.Pname%></td>
				<td><%=presub.Pclassify%></td>
				<td><%=presub.Pgoal%></td>
				<td><%=presub.user_id%></td>
				<td><%=link_to "審核", edit_manager_path(presub)%></td>
                        </tr>
                <% end-%>
        </tbody>
    </table>
</div>
