<div style="color:#696969;">
	<div id="content">
		<p style="color:#8B3E2F;">專案名稱：</p>
		<%= @thisp.name%>
		<p style="color:#8B3E2F;">目前募集：</p>
		<%= @thisp.got%></br></br>
	</div>

  <%= form_tag invest_path(@thisp.id),:method=>:put  do %>
        <div id="invest">
        <%= label :invest, :howmuch, '要投資多少金額？'%>
        <%= text_field :invest, :howmuch%></br>

        <%= hidden_field :invest, :pro_id, :value=>@pro_id%></br>
        <%= hidden_field :invest, :user_id, :value=>@user_id%></br>

        <%= submit_tag '確定'%>
        </div>
  <% end%>
</div>
