

<div style="width:60%; margin:0 auto;">
    <img src="https://photos-2.dropbox.com/t/0/AACLL8LQmn-WweyTbP9XIX3vBjzskxC6RdsGUkFGejhhBg/12/19978892/png/32x32/7/_/1/2/publishing_32x321.png/IxYke7KkinsDrIT6eWgnkwqLeioFWIlTfNLLJw9mZME?size=800x600" 
    	style="float: left; padding-right: 13px;">
   <div id="topbar1"> 
    <div id="item"><%= link_to "正在進行", "/project/reflashindex/1" %></div>
    <div id="item"><%= link_to "成功募集", "/project/reflashindex/2" %></div>
    <div id="item"><%= link_to "募集失敗", "/project/reflashindex/3" %></div>
  </div>
</div>  
  
 <div style="width:60%; margin:0 auto; clear:both; border-top-style:dashed; border-width:1px; border-color:#838B8B; ">
	<div style="padding-top:20px;">
	<img src="https://photos-2.dropbox.com/t/0/AAAULeYWvpM3Kg4hGcXAowp1kmjAEbuQj2tdh3wdighoxQ/12/19978892/png/32x32/7/_/1/2/literature_32x321.png/1JDY_eJExAOmQG9S8NT_9DAKqbW2h1sKrLQbDvTiYQw?size=800x600" 
		style="vertical-align:middle ;float:left; padding-right: 13px;">
 </div>
  <div id="topbar2">  
    <div id="item"><%= link_to "設計商品", "/project/reflashindex/1" %></div>
    <div id="item"><%= link_to "音樂影視", "/project/reflashindex/2" %></div>
    <div id="item"><%= link_to "舞台演出", "/project/reflashindex/3" %></div>
    <div id="item"><%= link_to "休閒娛樂", "/project/reflashindex/4" %></div>
    <div id="item"><%= link_to "創作出版", "/project/reflashindex/5" %></div>
    <div id="item"><%= link_to "社會文化", "/project/reflashindex/6" %></div>
    <div id="item"><%= link_to "科技應用", "/project/reflashindex/7" %></div>
    <div id="item"><%= link_to "美食饗宴", "/project/reflashindex/8" %></div>
	</div>
</div>
