<div id="topbar1">
    <img src="https://photos-2.dropbox.com/t/0/AADYWlrfGAjz3SnP1TqYx1ob_LqIXlL5UrFx8s0Uj9I-Fg/12/19978892/png/32x32/6/_/1/2/7.png/EWgd39tBc4ZkWxpSjob57H4YqWNciTd5f8r2S-ATOiE?size=1024x768&size_mode=2" style="float: left; padding-right: 10px;">
    <div id="item"><%= link_to "正在進行", "/project/reflashindex/1" %></div>
    <div id="item"><%= link_to "成功募集", "/project/reflashindex/2" %></div>
    <div id="item"><%= link_to "募集失敗", "/project/reflashindex/3" %></div>
  </div>
  <div id="topbar2">
    <img src="https://photos-6.dropbox.com/t/0/AABpEJVgA7m8NWJYk2z_yi8RgwK8dwx1_qckjg8P-atw_Q/12/19978892/png/32x32/6/_/1/2/13.png/lhhhkxV3Njyb1E1Yu1Y3ThtC09oZV5rJcdK8WEN0-yI?size=1024x768&size_mode=2" style="float: left; padding-right: 10px;">
    <div id="item"><%= link_to "設計商品", "/project/reflashindex/1" %></div>
    <div id="item"><%= link_to "音樂影視", "/project/reflashindex/2" %></div>
    <div id="item"><%= link_to "舞台演出", "/project/reflashindex/3" %></div>
    <div id="item"><%= link_to "休閒娛樂", "/project/reflashindex/4" %></div>
    <div id="item"><%= link_to "創作出版", "/project/reflashindex/5" %></div>
    <div id="item"><%= link_to "社會文化", "/project/reflashindex/6" %></div>
    <div id="item"><%= link_to "科技應用", "/project/reflashindex/7" %></div>
    <div id="item"><%= link_to "美食饗宴", "/project/reflashindex/8" %></div>
</div>

