<div id="showname">
  <%= @thisp.Pname%>
</div>
<div id="showcontext">
  <div id="showmedia">
    <%= @thisp.Pvideo.html_safe%>
  </div>

  <div style="font-family: 微軟正黑體; float: left; font-size:15px;color:#607B8B;">
	發起者：<%= @thisp.user.name%>
  </div>
  <div style="font-family: 微軟正黑體; float: right; font-size:15px;color:#607B8B;">
    e-mail：<%= @thisp.user.email%>
  </div>

  <div id="showinfo">
    <%= @thisp.days%>
    <%= @thisp.Pgot%>
  </div>
  <div id="showteam">
    <%= @thisp.Pintro%>
  </div>

  <div id="showsummary">
    <%= simple_format @thisp.Psummary%>
  </div>
</div>
