<div id="showname">
  <%= @thisp.name%>
</div>
<div id="showcontext">
	<div style="overflow:hidden; ">
	<div style="float:left;">
	<center>
 		 <div id="showmedia">
  		  <%= @thisp.video.html_safe%>
  		</div>	
  	</center>	
  		<div id="showsummary">
   			 <%= simple_format @thisp.summary%>
 		 </div>
 	
  	</div>

  <div style="font-family: 微軟正黑體; float: left; font-size:15px;color:#607B8B;">
	發起者：<%= @thisp.user.name%>
  </div>
  <div style="font-family: 微軟正黑體; float: right; font-size:15px;color:#607B8B;">
    e-mail：<%= @thisp.user.email%>
  </div>

	<div style="float:left;margin-left: 10px;">
  		 <div id="showinfo" >
  	 		<p style="font-size: 18px;color:#607B8B;"> 剩餘天數：</p><%= @thisp.days%>
   			 <p style="font-size: 18px;color:#607B8B;">目前募集：</p><%= @thisp.got%>
   			 
 	 		 <center><a href="/invest/<%= @thisp.id%>/edit"><div style="width:100%; height:40px; background-color:#d44413; border-radius: 5px;font-size:35px;">出資</div></a></center>
	 	 </div>
 		 <div id="showteam" >
			<p style="font-size: 20px; color:#607B8B;">團隊介紹:</p>
  			  <%= @thisp.intro%>
  	     </div>
                <%@allinvest.each do|invest|%>
		  <div id="showInvest">
		  	<div style="font-size: 18px;color:#607B8B; float:left;">暱稱：</div><div style="float:left;"><%=invest.user_id%></div>
		  	<div style="font-size: 18px;color:#607B8B; float:left;">；投資金額：</div><div style="float:left;"><%=invest.howmuch%></div>
		  </div>

		<%end%>
		
	</div>
	</div>
	
<img src="https://dl.dropbox.com/u/19978892/%E5%88%86%E9%9A%94%E7%B7%9A%20%281%29.png" >

<div id="showMessage">
	<p style="font-size: 30px; color:#607B8B; font-family: 微軟正黑體;">留言區</p>
          <% @message.each do |m|%>
           <%if m.show == true%>
           	</br><div style="color:#8B3E2F;">【問題】</div> <%=m.context%></br>

             <% Question.find(m.id).answers.each do |answer|%>
			<div style="color:#8B3E2F;">回答：</div><%=answer.context%></br>
             <%end%>
 	   <%end%>
          <%end%>
	</br>

</br>
</br>
<center>
  <%= form_tag '/project/postmessage', :method=>:put do %>
    <div style="color:black;">
    <%= label :message ,:name ,'姓名'%>
    <%= text_field :message, :name, :value=>'匿名' %>
   
    <%= label :message, :context, '問題'%>
    <%= text_field :message, :context, :value=>"？"%>

    <%= hidden_field :message, :pro_id, :value=>@thisp.id%>    
    <%= hidden_field :message, :show, :value=>true%>

    <%= submit_tag '確定送出'%>
  <% end %>
  </div>
  </center>
</div>

</div>


