<div id="showname">
  <%= @thisp.Pname%>
</div>
<div id="showcontext">
  <div id="showmedia">
    <%= @thisp.Pvideo.html_safe%>
  </div>

  <div id="showteam">
    <%= @thisp.user.name%>
    <%= @thisp.user.email%>
    <%= @thisp.Pintro%>
  </div>

  <div id="showsummary">
    <%= simple_format @thisp.Psummary%>
  </div>
</div>
