<div id="showname">
  <%= @thisp.name%>
</div>
<div id="showcontext">
	<div style="float:left;">
	<center>
 		 <div id="showmedia">
  		  <%= @thisp.video.html_safe%>
  		</div>	
  	</center>	
  		<div id="showsummary">
   			 <%= simple_format @thisp.summary%>
 		 </div>
 	
  	</div>

  <div style="font-family: 微軟正黑體; float: left; font-size:15px;color:#607B8B;">
	發起者：<%= @thisp.user.name%>
  </div>
  <div style="font-family: 微軟正黑體; float: right; font-size:15px;color:#607B8B;">
    e-mail：<%= @thisp.user.email%>
  </div>

	<div style="float:left;">
  		 <div id="showinfo" >
  	 		<p style="font-size: 18px;"> 剩餘天數：</p><%= @thisp.days%></br>
   			 <p style="font-size: 18px;">目前募集：</p><%= @thisp.got%></br>
 	 		 <center><a href="/invest/<%= @thisp.id%>/edit"><div style="width:100%; height:40px; background-color:#d44413; border-radius: 5px;font-size:35px;">出資</div></a></center>
	 	 </div>
 		 <div id="showteam" >
  			  <%= @thisp.intro%>
  	         </div>
                <%@allinvest.each do|invest|%>
		  <div>暱稱<%=invest.user_id%></br>金額<%=invest.howmuch%></div>
		<%end%>
		
	</div>
	


</div>
