<div id="presubForm">
  <%= form_tag '/startaproject', :method=>:post do %>

    <%= label :start, :Pname, '專案名稱：'%>
    <%= text_field :start, :Pname, :value=>"啥東東"%></br>

    <%= label :start, :Pclassify, '專案類別：'%>
    <select id="start_Pclassify" name="start[Pclassify]">
      <option value="1">設計商品</option>
      <option value="2">音樂影視</option>
      <option value="3">舞台演出</option>
      <option value="4">休閒娛樂</option>
      <option value="5">創作出版</option>
      <option value="6">社會文化</option>
      <option value="7">科技應用</option>
      <option value="8">美食饗宴</option>
    </select>

    <%= label :start, :Pgoal, '集資目標：'%>
    <%= text_field :start, :Pgoal, :value=>0%></br>

    <%= label :start, :Pintro, '團隊介紹：'%>
    <%= text_area :start, :Pintro %>

    <%= label :start, :Psummary, '專案摘要：'%>
    <%= text_area :start, :Psummary %>

    <%= label :start, :Pfeedback, '集資回饋：'%>
    <%= text_area :start, :Pfeedback%>

    <%= hidden_field :start, :user_id, :value=>current_user.id%>

        <center>
    <%= submit_tag '確定送出', :id =>'button-id'%>


    </center>
  <% end %>
</div>
