<div id="presubForm">
  請將空格填滿，自述請勿超過255個字
  <%= form_tag '/startaproject', :method=>:post do %>
    <%= error_messages_for @start %>
    </br>     
    <%= label :start, :name, '專案名稱：'%>
    <%= text_field :start, :name, :value=>"啥東東"%></br>

    <%= label :start, :classify, '專案類別：'%>
    <select id="start_classify" name="start[classify]">
      <option value="1">設計商品</option>
      <option value="2">音樂影視</option>
      <option value="3">舞台演出</option>
      <option value="4">休閒娛樂</option>
      <option value="5">創作出版</option>
      <option value="6">社會文化</option>
      <option value="7">科技應用</option>
      <option value="8">美食饗宴</option>
    </select>
    </br>
    <%= label :start, :goal, '集資目標：'%>
    <%= text_field :start, :goal, :value=>0%></br>

    <%= label :start, :intro, '團隊介紹：'%>
    <%= text_area :start, :intro %>

    <%= label :start, :summary, '專案摘要：'%>
    <%= text_area :start, :summary %>

    <%= label :start, :feedback, '集資回饋：'%>
    <%= text_area :start, :feedback%>
    <%=error_messages_for :feedback%>

    <%= hidden_field :start, :user_id, :value=>current_user.id%>

        <center>
    <%= submit_tag '確定送出', :id =>'button-id'%>


    </center>
  <% end %>
</div>
