<div id="presubForm">
  <%= form_tag '/startaproject', :method=>:post do %>

    <%= label :start, :Pname, '專案名稱：'%>
    <%= text_field :start, :Pname, :value=>"啥東東"%></br>

    <%= label :start, :Pclassify, '專案類別：'%>
    <%= select :start, :Pclassify, ['設計商品','音樂影視','舞台演出','休閒娛樂','創作出版','社會文化','科技應用','美食饗宴'] %></br>

    <%= label :start, :Pgoal, '集資目標：'%>
    <%= text_field :start, :Pgoal, :value=>0%></br>

    <%= label :start, :Pintro, '團隊介紹：'%>
    <%= text_area :start, :Pintro %>

    <%= label :start, :Psummary, '專案摘要：'%>
    <%= text_area :start, :Psummary %>

    <%= label :start, :Pfeedback, '集資回饋：'%>
    <%= text_area :start, :Pfeedback%>

    <%= hidden_field :start, :user_id, :value=>current_user.id%>

        <center>
    <%= submit_tag '確定送出', :id =>'button-id'%>


    </center>
  <% end %>
</div>
