<div id="main_authorizep">
</br>
  <%= form_tag "updatep/"+@pro.id.to_s ,:method=>:put do %>
    <%= label :content, :Ppic, '封面圖片'%>
    <%= text_field :content, :Ppic, :value=>@pro.Ppic%>
    </br>
    <%= label :content, :Pvideo, '專案影片'%> 如何上傳？
    <%= text_area :content, :Pvideo, :value=>@pro.Pvideo%>
    </br>
    <%= label :content, :Pdescribe, '專案說明'%> 請勿超過255個字
    <%= text_area :content, :Pdescribe, :value=>@pro.Pdescribe%>
    </br>
    <%= label :content, :Pintro, '團隊介紹'%> 請勿超過255個字</br>
    <%= text_area :content, :Pintro, :value=>@pro.Pintro%>
    </br>
    <%= label :content, :Psummary, '專案內容'%></br>
    <%= text_area :content, :Psummary, :value=>@pro.Psummary%>
    </br>
    <%= label :content, :Pfeedback, '投資回餽'%></br>
    <%= text_area :content, :Pfeedback, :value=>@pro.Pfeedback%>
    <center>
    </br>
    <%= label :content, :PuserOn, '上架'%>
    <%= select :content, :PuserOn, [false,true]%>
    <input name="commit" type="submit" value="確定" id="button-id" onClick="ste.submit()">
</center>
<% end%>
</div>
<script> 
var ste = new SimpleTextEditor("content_Psummary", "ste", "content[Psummary]"); 
ste.cssFile = 'test.css'; 
ste.charset = 'iso-8859-1';
ste.init();
function tes(){
alert("sdsd");
} 
</script>
