未審核
<% @userpresubunconfirm.each do |presub| %>
	<div><%=simple_format presub.Pname%></div>
<%end%>
</br>

合格
<% @usercanonproject.each do |pro| %>
        <div><%=simple_format pro.Pname%><%= link_to "專案上架","startaproject/authorizep/"+pro.id.to_s %></div>
<%end%>
</br>

不合格
<% @userpresubno.each do |presub| %>
        <div><%=simple_format presub.Pname%></div>
<%end%>
</br>
<%= link_to "新增專案", new_startaproject_path %>
