<center>
<div id="newProject"><%= link_to "新增專案", new_startaproject_path %></div>
</center>

<center>
<div id="content-all" align="center">
	
	<div id="uncheck">
		~ 未審核 ~
		<hr style="width: 80%; border-color:#CCCCCC;border:0.5;">

			<% @userpresubunconfirm.each do |presub| %>
			<%=simple_format presub.name%>
			
			<%end%>
	</div>


	<div id="checkOK">
		~ 合格 ~
		<hr style="width: 80%; border-color:#CCCCCC;border:0.5;">
		<div id="projectUp" style=" width: 100%;"> 
			<table style="text-align: center;">
				<tbody>
					<% @usercanonproject.each do |pro| %>				
				<tr>
					<td style="padding-right:60px;"><%=simple_format pro.name%></td>
      		 
      				<td><%= link_to "專案上架","startaproject/authorizep/"+pro.id.to_s %></td>	
      			</tr>
      		
					<%end%>
				</tbody>
      		</table>
      	</div>
        	
	</div>


	<div id="checkNotOK">
		~ 已上架專案 ~
		<hr style="width: 80%; border-color:#CCCCCC;border:0.5;">
	
			<% @userproon.each do |pro| %>
       			<a href=<%=project_path(pro.id)%>><%= simple_format pro.name%></a>

			<%end%>

	</div>
</div>
</center>


