<!DOCTYPE html>
<html>
<head>
  <title>Crowdfunding</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <%= javascript_include_tag "jquery.min.js" %>
  <%= javascript_include_tag "jquery.masonry.min.js" %>
  <%= stylesheet_link_tag "SimpleTextEditor" %>
  <%= javascript_include_tag "SimpleTextEditor.js" %>
</head>
<body onresize = "adjustWidth()">

<div id="top-bar">
  <ul><font face="微軟正黑體">

    <% if admin_signed_in? %>
      <li><%= link_to 'admin登出', destroy_admin_session_path, :method => 'delete'%></li>
    <% else %>
      <li><%= link_to 'admin登入', new_admin_session_path %></li>
    <% end %>

    <% if user_signed_in? %>
      <li><%= link_to current_user.name, destroy_user_session_path, :method => 'delete'%></li>
    <% else %>
      <li><%= link_to '登入', new_user_session_path %></li>
    <% end %>

    <% if user_signed_in? %>
      <li><%= link_to '新增專案', startaproject_index_path %></li>
    <% end %>

    <% if admin_signed_in? %>
      <li><%= link_to '未審核專案', manager_index_path%></li>
    <% end %>
      <li><%= link_to '關於', project_aboutus_path%></li>
      <li><%= link_to '首頁', root_path %></li>
  </ul></font>
</div>

<div id="main">
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>

  <%= yield %>
</div>

</body>
</html>

